[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "httk"]
	path = httk
	url = https://github.com/usepa/comptox-expocast-httk
	shallow = true
	subdir = httk
	registered = true
[submodule "pTITAN2"]
	path = pTITAN2
	url = https://github.com/usepa/ptitan2
	shallow = true
	registered = true
[submodule "RAQSAPI"]
	path = RAQSAPI
	url = https://github.com/usepa/raqsapi
	shallow = true
	registered = true
[submodule "spmodel"]
	path = spmodel
	url = https://github.com/usepa/spmodel
	shallow = true
	registered = true
[submodule "spsurvey"]
	path = spsurvey
	url = https://github.com/usepa/spsurvey
	shallow = true
	registered = true
[submodule "tcpl"]
	path = tcpl
	url = https://github.com/usepa/comptox-toxcast-tcpl
	shallow = true
	registered = true
