[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RAQSAPI"]
	path = RAQSAPI
	url = https://github.com/usepa/raqsapi
[submodule "httk"]
	path = httk
	url = https://github.com/usepa/comptox-expocast-httk
	subdir = httk
[submodule "pTITAN2"]
	path = pTITAN2
	url = https://github.com/usepa/ptitan2
[submodule "spmodel"]
	path = spmodel
	url = https://github.com/usepa/spmodel
[submodule "spsurvey"]
	path = spsurvey
	url = https://github.com/usepa/spsurvey
[submodule "tcpl"]
	path = tcpl
	url = https://github.com/usepa/comptox-toxcast-tcpl
