[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RAQSAPI"]
	path = RAQSAPI
	url = https://github.com/usepa/raqsapi
[submodule "SSN2"]
	path = SSN2
	url = https://github.com/usepa/ssn2
[submodule "ccdR"]
	path = ccdR
	url = https://github.com/usepa/ccdr
[submodule "ctxR"]
	path = ctxR
	url = https://github.com/usepa/ctxr
[submodule "elevatr"]
	path = elevatr
	url = https://github.com/usepa/elevatr
[submodule "httk"]
	path = httk
	url = https://github.com/usepa/comptox-expocast-httk
	subdir = httk
[submodule "micromap"]
	path = micromap
	url = https://github.com/usepa/micromap
[submodule "pTITAN2"]
	path = pTITAN2
	url = https://github.com/usepa/ptitan2
[submodule "spmodel"]
	path = spmodel
	url = https://github.com/usepa/spmodel
[submodule "spsurvey"]
	path = spsurvey
	url = https://github.com/usepa/spsurvey
[submodule "tcpl"]
	path = tcpl
	url = https://github.com/usepa/comptox-toxcast-tcpl
[submodule "tcplfit2"]
	path = tcplfit2
	url = https://github.com/usepa/comptox-toxcast-tcplfit2
